$white: #fff;
$celeste:#167892;
$aqua: #4BC3F2;
$petroleo: #023859;
$black: #0C0B0B;


//FONTS

$roboto: 'Roboto', sans-serif;
$roboto-regular: 400;
$roboto-bold: 700;


$font-size-xx-large: 100px;
$font-size-x-large:70px;
$font-size-large: 50px;
$font-size-medium: 18px;


$primary-font: $roboto;
$primary-font-regular: $roboto-regular;
$primary-font-bold: $roboto-bold;