// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.boton__opciones {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-radius: 1px solid $aqua;
}

.btn {
    padding: 2px 20px;
    border-radius: 2.25rem;
}
